*{
	margin: 0px;
	padding: 0px;

}
body{
	background-color: white
}
p{
	color: red;
	
}
.button1, .button2 {
	margin-top: 50px;
	height: 80px;
	width:400px;
	border: 2px solid gray;
	border-radius: 5px;
	font-size: 24px;
	text-align: center;
	line-height: 80px;
	box-shadow: 0px 0px 20px;
	display: inline-block;

}
.button1{
	
	background-color: #00cc00;
	
}
.button1:hover{
	background-color: green;
	cursor: pointer;
}
.button2{
	background-color: #c299ff;
}
.button2:hover{
	background-color: #8533ff;
	cursor: pointer;
	color: white;
}
